<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513863961347-n6nhocrf0cv9vbuar7ulmjtlacphf9hg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513863961347-n6nhocrf0cv9vbuar7ulmjtlacphf9hg</string>
	<key>API_KEY</key>
	<string>AIzaSyBk6lQUveBL7L46UX79QPIAguE4HF6zclQ</string>
	<key>GCM_SENDER_ID</key>
	<string>513863961347</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.execucao</string>
	<key>PROJECT_ID</key>
	<string>mobileexecpenal</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileexecpenal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513863961347:ios:574c2cd4b7521935fab736</string>
</dict>
</plist>